<div class="card border-tfm w-100">
  <span  class="card-header-tfm bg-associated-header" >Main Contrat Address
      <button type="button" class="close card-close-tfm"  [attr.aria-label]="'Close'" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>            
  </span>  
  <div class="card-body card-body-tfm">    
    <form class="form" [formGroup]="addressForm" >      
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Address</span>
        </div>
        <input type="text" class="form-control" placeholder="address" formControlName="address" required >
      </div>            
      <div class="btn-group" style = "float:right">
        <button type="submit" [disabled]="!addressForm.valid" class="btn btn-mg btn-outline-secondary btn-tfm mr-1 pull-right" (click)="update()">Update</button>
        <button aria-label="Cancel" type="submit" class="btn btn-mg btn-outline-secondary btn-tfm pull-right" (click)="closeModal()">Cancel</button>      
      </div>
    </form>
  </div>
</div> 

