<div class="card border-tfm w-100">
  <span  class="card-header-tfm bg-tfm" >New Associated
      <button type="button" class="close card-close-tfm"  [attr.aria-label]="'Close'" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>            
  </span>  
  <div class="card-body card-body-tfm">    
    <form class="form" [formGroup]="addAssociated" >                
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <select name="name" formControlName="name" class="form-control" [(ngModel)]="associated.name" > 
          <option *ngFor="let element of associated_list" [ngValue]="element.name" >{{element.description}}</option> 
        </select>           
      </div>      
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Address</span>
        </div>
        <input type="text" class="form-control" placeholder="Address" formControlName="contract_address" required autofocus [(ngModel)]="associated.address" >
      </div>
      <div class="btn-group" style = "float:right">
        <button  *ngIf="mode=='add'" type="submit" [disabled]="!addAssociated.valid" class="btn btn-mg btn-outline-secondary btn-tfm mr-1 pull-right" (click)="add()">Add</button>        
        <button aria-label="Cancel" type="submit" class="btn btn-mg btn-outline-secondary btn-tfm pull-right" (click)="closeModal()">Cancel</button>      
      </div>
    </form>
  </div>
</div> 
